<div class="container mt-5 text-center">
  <h1>🏨 Bienvenue sur Book Rooms</h1>
  <p class="lead mt-3">Trouvez et réservez des chambres d'hôtel à prix réduit.</p>
  <%= link_to "Voir toutes les chambres", rooms_path, class: "btn btn-primary btn-lg mt-3" %>
</div>
